    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    width: 500px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    gap: 10px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

#addBtn {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#addBtn:hover {
    background: #0056b3;
}

.filters {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.filter-btn {
    padding: 8px 15px;
    border: none;
    background: #ddd;
    cursor: pointer;
}

.filter-btn.active {
    background: #1500ff;
    color: white;
}

#taskList {
    list-style: none;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.actions button {
    margin-left: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.edit-btn {
    background: orange;
    color: white;
    border: none;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
}

.complete-btn {
    background: green;
    color: white;
    border: none;
}
